<!DOCTYPE html>
<html>
<body class="w3-light-grey">
    <!-- !PAGE CONTENT! -->
    <div class="w3-main">
        <!-- Header -->
        <header class="w3-container" style="padding-top:22px">
            <h5><b><i class="fa fa-dashboard"></i> Протистояння України Російському вторгненню</b></h5>
        </header>

        <div class="w3-row-padding w3-margin-bottom">
            <div class="w3-quarter">
                <div class="w3-container w3-red w3-padding-16">
                    <div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
                    <div class="w3-right">
                        <h3>{{equipment.aircraft}}</h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4>Aircraft</h4>
                </div>
            </div>
            <div class="w3-quarter">
                <div class="w3-container w3-blue w3-padding-16">
                    <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
                    <div class="w3-right">
                        <h3>{{equipment.helicopter}}</h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4>Helicopter</h4>
                </div>
            </div>
            <div class="w3-quarter">
                <div class="w3-container w3-teal w3-padding-16">
                    <div class="w3-left"><i class="fa fa-share-alt w3-xxxlarge"></i></div>
                    <div class="w3-right">
                        <h3>{{equipment.tank}}</h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4>Tank</h4>
                </div>
            </div>
            <div class="w3-quarter">
                <div class="w3-container w3-orange w3-text-white w3-padding-16">
                    <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
                    <div class="w3-right">
                        <h3>{{equipment.apc}}</h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4>APC</h4>
                </div>
            </div>
        </div>
        <div class="w3-row-padding w3-margin-bottom">
            <div class="w3-quarter">
                <div class="w3-container w3-red w3-padding-16">
                    <div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
                    <div class="w3-right">
                        <h3>{{equipment.artillery}}</h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4>Artillery</h4>
                </div>
            </div>
            <div class="w3-quarter">
                <div class="w3-container w3-blue w3-padding-16">
                    <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
                    <div class="w3-right">
                        <h3>{{equipment.mrl}}</h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4>MRL</h4>
                </div>
            </div>
            <div class="w3-quarter">
                <div class="w3-container w3-teal w3-padding-16">
                    <div class="w3-left"><i class="fa fa-share-alt w3-xxxlarge"></i></div>
                    <div class="w3-right">
                        <h3>{{equipment.drone}}</h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4>Drone</h4>
                </div>
            </div>
            <div class="w3-quarter">
                <div class="w3-container w3-orange w3-text-white w3-padding-16">
                    <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
                    <div class="w3-right">
                        <h3>{{equipment.ship}}</h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4>Ship</h4>
                </div>
            </div>
        </div>

        <div class="w3-row-padding w3-margin-bottom">
            <div class="w3-quarter">
                <div class="w3-container w3-red w3-padding-16">
                    <div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
                    <div class="w3-right">
                        <h3>{{equipment.antiAircraft}}</h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4>Anti Aircraft</h4>
                </div>
            </div>
            <div class="w3-quarter">
                <div class="w3-container w3-blue w3-padding-16">
                    <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
                    <div class="w3-right">
                        <h3>{{equipment.specialEquipment}}</h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4>Special Equipment</h4>
                </div>
            </div>
            <div class="w3-quarter">
                <div class="w3-container w3-teal w3-padding-16">
                    <div class="w3-left"><i class="fa fa-share-alt w3-xxxlarge"></i></div>
                    <div class="w3-right">
                        <h3>{{equipment.vehicles}}</h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4>Vehicles</h4>
                </div>
            </div>
            <div class="w3-quarter">
                <div class="w3-container w3-orange w3-text-white w3-padding-16">
                    <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
                    <div class="w3-right">
                        <h3>{{personnel.personnel}}</h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4>Personnel</h4>
                </div>
            </div>
        </div>

        <div class="w3-panel">
            <div class="w3-row-padding" style="margin:0 -16px">
                <div class="w3-third">
                    <h5>Day</h5>
                    <img src="/w3images/region.jpg" style="width:100%" alt="Google Regional Map">
                </div>
                <div class="w3-twothird">
                    <h5>New</h5>
                    <table class="w3-table w3-striped w3-white">
                        <tr>
                            <td><i class="fa fa-user w3-text-blue w3-large"></i></td>
                            <td>Aircraft.</td>
                            <td><i>+{{equipment.newAircraft}}</i></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-bell w3-text-red w3-large"></i></td>
                            <td>Helicopter.</td>
                            <td><i>+{{equipment.newHelicopter}}</i></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-users w3-text-yellow w3-large"></i></td>
                            <td>Tank.</td>
                            <td><i>+{{equipment.newtank}}</i></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-comment w3-text-red w3-large"></i></td>
                            <td>APC.</td>
                            <td><i>+{{equipment.newApc}}</i></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-bookmark w3-text-blue w3-large"></i></td>
                            <td>Artillery.</td>
                            <td><i>+{{equipment.newArtillery}}</i></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-laptop w3-text-red w3-large"></i></td>
                            <td>MRL.</td>
                            <td><i>+{{equipment.newMrl}}</i></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-share-alt w3-text-green w3-large"></i></td>
                            <td>Drones.</td>
                            <td><i>+{{equipment.newDrone}}</i></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-share-alt w3-text-green w3-large"></i></td>
                            <td>Ship.</td>
                            <td><i>+{{equipment.newShip}}</i></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-share-alt w3-text-green w3-large"></i></td>
                            <td>Anti Aircraft.</td>
                            <td><i>+{{equipment.newAntiAircraft}}</i></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-share-alt w3-text-green w3-large"></i></td>
                            <td>Special Equipment.</td>
                            <td><i>+{{equipment.newSpecialEquipment}}</i></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-share-alt w3-text-green w3-large"></i></td>
                            <td>Vehicles.</td>
                            <td><i>+{{equipment.newVehicles}}</i></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-share-alt w3-text-green w3-large"></i></td>
                            <td>Personnel.</td>
                            <td><i>+{{personnel.newPersonnel}}</i></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <hr>
        <br>
    </div>
    <!-- End page content -->
</body>

</html>