<!DOCTYPE html>
<html>

<body id="myPage">

    <!-- Image Header -->
    <div class="w3-display-container w3-animate-opacity">
        <img src="https://www.eui.eu/Content-Types-Assets/Uploads/General/national-flag-of-ukraine.x0dda0518.jpg?w=1920&h=1080"
            alt="boat" style="width:100%;min-height:350px;max-height:600px;">
    </div>

    <!-- Team Container -->
    <div class="w3-container w3-padding-64 w3-center" id="team">
        <h2>{{this.personnel.day}} День</h2>
        <p>Протягом 2022-02-24 - {{this.personnel.date}}:</p>

        <div class="w3-row"><br>

            <div class="w3-quarter">
                <img src="../assets/orc.jpg" alt="Orcs" title="Orcs" style="width:45%"
                    class="w3-circle w3-hover-opacity">
                <h3>{{personnel.personnel}}</h3>
                <p>+{{personnel.newPersonnel}}</p>
            </div>

            <div class="w3-quarter">
                <img src="../assets/aircraft.jpg" alt="Aircraft" title="Aircraft" style="width:45%"
                    class="w3-circle w3-hover-opacity">
                <h3>{{equipment.aircraft}}</h3>
                <p>+{{equipment.newAircraft}}</p>
            </div>

            <div class="w3-quarter">
                <img src="../assets/helikopter.jpg" alt="Helicopter" title="Helicopter" style="width:45%"
                    class="w3-circle w3-hover-opacity">
                <h3>{{equipment.helicopter}}</h3>
                <p>+{{equipment.newHelicopter}}</p>
            </div>

            <div class="w3-quarter">
                <img src="../assets/tank.jpg" alt="Tank" title="Tank" style="width:45%"
                    class="w3-circle w3-hover-opacity">
                <h3>{{equipment.tank}}</h3>
                <p>+{{equipment.newtank}}</p>
            </div>

            <div class="w3-quarter">
                <img src="../assets/apc.jpg" alt="Armoured personnel carrier" title="Armoured personnel carrier"
                    style="width:45%" class="w3-circle w3-hover-opacity">
                <h3>{{equipment.apc}}</h3>
                <p>+{{equipment.newApc}}</p>
            </div>

            <div class="w3-quarter">
                <img src="../assets/artillery.jpg" alt="Field artillery" title="Field artillery" style="width:45%"
                    class="w3-circle w3-hover-opacity">
                <h3>{{equipment.artillery}}</h3>
                <p>+{{equipment.newArtillery}}</p>
            </div>

            <div class="w3-quarter">
                <img src="../assets/mrl.jpg" alt="Multiple rocket launcher" title="Multiple rocket launcher"
                    style="width:45%" class="w3-circle w3-hover-opacity">
                <h3>{{equipment.mrl}}</h3>
                <p>+{{equipment.newMrl}}</p>
            </div>

            <div class="w3-quarter">
                <img src="../assets/drone.jpg" alt="Drone" title="Drone" style="width:45%"
                    class="w3-circle w3-hover-opacity">
                <h3>{{equipment.drone}}</h3>
                <p>+{{equipment.newDrone}}</p>
            </div>

            <div class="w3-quarter">
                <img src="../assets/ship.jpg" alt="Naval ship" title="Naval ship" style="width:45%"
                    class="w3-circle w3-hover-opacity">
                <h3>{{equipment.ship}}</h3>
                <p>+{{equipment.newShip}}</p>
            </div>

            <div class="w3-quarter">
                <img src="../assets/antiAircraft.jpg" alt="Anti-aircraft warfare" title="Anti-aircraft warfare"
                    style="width:45%" class="w3-circle w3-hover-opacity">
                <h3>{{equipment.antiAircraft}}</h3>
                <p>+{{equipment.newAntiAircraft}}</p>
            </div>

            <div class="w3-quarter">
                <img src="../assets/specialEquipment.jpg" alt="Special equipment" title="Special equipment"
                    style="width:45%" class="w3-circle w3-hover-opacity">
                <h3>{{equipment.specialEquipment}}</h3>
                <p>+{{equipment.newSpecialEquipment}}</p>
            </div>

            <div class="w3-quarter">
                <img src="../assets/vehicles.jpg" alt="Vehicles and fuel tanks" title="Vehicles and fuel tanks"
                    style="width:45%" class="w3-circle w3-hover-opacity">
                <h3>{{equipment.vehicles}}</h3>
                <p>+{{equipment.newVehicles}}</p>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
        <h4>Follow Us</h4>
        <a class="w3-button w3-large w3-teal" href="https://www.facebook.com/oleksandr.bondar.37" title="Facebook"><i
                class="fa fa-facebook"></i></a>
        <a class="w3-button w3-large w3-teal" href="https://twitter.com/bondaole" title="Twitter"><i
                class="fa fa-twitter"></i></a>
        <a class="w3-button w3-large w3-teal w3-hide-small" href="https://www.linkedin.com/in/oleksandr-bondar/" title="Linkedin"><i
                class="fa fa-linkedin"></i></a>

        <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
            <span class="w3-text w3-padding w3-teal w3-hide-small">Go To Top</span>
            <a class="w3-button w3-theme" href="#myPage"><span class="w3-xlarge">
                    <i class="fa fa-chevron-circle-up"></i></span></a>
        </div>
    </footer>

</body>

</html>